.node {
    fill: steelblue;
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    fill: none;
    stroke: #999;
    stroke-opacity: 0.6;
    stroke-width: 1.5px;
}

.hovered {
    stroke: orange;
    stroke-width: 3px;
}